.container {
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5%;
}

fieldset {
    border: 2px solid #ececec;
    border-radius: 8px 8px 0 0;
    padding: 1em;
    width: 60%;
    margin: auto;
}
.login {
    width: 50%;
}
.inline-errormsg {
    color: red;
    font-size: 12px;
}
.hidden {
    display: none;
}